/* PetResults */
.pet-main-profile {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;
  align-items: center;
  margin-top: 10px;
}

.pet-main-details {
  border: solid grey;
  text-align: center;
  overflow: scroll;
}

.pet-main-details:hover {
  box-shadow: 10px 10px grey;
}

.photo {
  border-radius: 100px;
  border: solid #79C7C5 15px;
  height: 150px;
  width: 150px;
  left: 150px;
}

.pet-details-menu {
  background-color: #ADE1E5;
  height: 250px;
  width: auto;
}


/* Main page */
.pawprint {
  height: 100px;
  width: 100px;
  align-items: center;
}

.pet-name {
  font-weight: 500;
  font-family: 'Fredoka One';
  font-size: 24pt;
}

.pet-name:hover {
  color: #273C2C;
  size: 36pt;
  font-weight: 800;
}

.dog-grid {
  background-color: red;
}

.app-title {
  text-align: center;
}

.tagline {
  text-align: center;
}

/* Footer */
.footer {
  text-align: center;
  color: brown;
}
